*, *:before, *:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

body #form_section {
  background: linear-gradient(#F1EDE4, #E8F1EE);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  min-height: calc(100vh - 200px);
}
body #form_section #form_container {
  background: #DBDAC8;
  border: 2px solid #49840C;
  border-radius: 40px;
  padding: 40px 40px;
  min-height: 350px;
  width: 330px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
body #form_section #form_container h3 {
  color: #870810;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
body #form_section #form_container h3 span {
  font-size: 1.4em;
  color: #dd2c00;
}
body #form_section #form_container #form {
  display: flex;
  flex-direction: column;
}
body #form_section #form_container #form .input {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #49840C;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}
body #form_section #form_container #form ::placeholder {
  color: #2B4D11;
}
body #form_section #form_container #form #button {
  background-color: #49840C;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
}
body #form_section #contact_container {
  margin: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body #form_section #contact_container #social_network h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #002897;
  margin: 1em 0;
}
body #form_section #contact_container #social_network #icons {
  display: flex;
  justify-content: space-evenly;
}
body #form_section #contact_container #social_network #icons div {
  float: left;
  cursor: pointer;
  height: 50px;
  width: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body #form_section #contact_container #social_network #icons #facebook {
  position: relative;
  background-image: url("../Imagenes/fb.png");
}
body #form_section #contact_container #social_network #icons #facebook a {
  position: absolute;
  height: 100%;
  width: 100%;
}
body #form_section #contact_container #social_network #icons #twitter {
  position: relative;
  background-image: url("../Imagenes/tw.png");
}
body #form_section #contact_container #social_network #icons #twitter a {
  position: absolute;
  height: 100%;
  width: 100%;
}
body #form_section #contact_container #social_network #icons a #facebook {
  background-image: url("../Imagenes/fb.png");
}
body #form_section #contact_container #social_network #icons a #twitter {
  background-image: url("../Imagenes/tw.png");
}
body #form_section #contact_container #contact h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #002897;
  margin: 1em 0;
}
body #form_section #contact_container #contact p {
  color: #2B4D11;
  text-align: center;
  font-weight: bold;
}
body #form_section #contact_container #contact #cities .city_container {
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body #form_section #contact_container #contact #cities .city_container div {
  display: flex;
  align-items: center;
  height: 1.5em;
  padding: .2em;
}
body #form_section #contact_container #contact #cities .city_container .whatsapp {
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../Imagenes/wp.png");
  background-position: center;
  justify-items: flex-end;
}
body #form_section #contact_container #contact #cities .city_container .city {
  font-weight: bold;
}
body #form_section #contact_container #contact #cities .city_container .phone {
  font-weight: bold;
  color: #2B4D11;
}
body #form_section #contact_container #contact #cities .city_container a {
  position: absolute;
  width: 100%;
  height: 100%;
}
body #form_section #contact_container #contact #cities :hover {
  cursor: pointer;
}
body #form_section #contact_container #contact #cities :hover .city {
  font-weight: bold;
}
body #form_section #contact_container #contact #cities :hover .phone {
  color: #002897;
  font-weight: bold;
}
body #form_section #contact_container #contact #cities #button_container {
  display: flex;
  justify-content: center;
}
body #form_section #contact_container #contact #cities #button_container #button_expand, body #form_section #contact_container #contact #cities #button_container #button_contract {
  margin-top: 1em;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body #form_section #contact_container #contact #cities #button_container #button_expand {
  background-image: url("../Imagenes/expandir.png");
}
body #form_section #contact_container #contact #cities #button_container #button_contract {
  background-image: url("../Imagenes/contraer.png");
}
body #form_section #doctors_container img {
  filter: drop-shadow(0px 0px 100px #002897);
  height: 450px;
}

@media only screen and (max-width: 1024px) {
  #form_section {
    flex-wrap: wrap;
  }
  #form_section #contact_container {
    width: 50%;
  }
  #form_section #doctors_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 1em;
  }
}
@media only screen and (max-width: 768px) {
  #form_section {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #form_section #contact_container {
    padding: 1em;
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  #form_section {
    padding: 20px !important;
  }
  #form_section #form_container {
    padding: 30px !important;
    width: 220px !important;
  }
  #form_section #form_container #form .input {
    font-size: 14px !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #49840C !important;
    height: 40px !important;
  }
  #form_section #form_container #form #button {
    height: 40px !important;
  }
  #form_section #contact_container {
    padding: 0px !important;
    margin: 30px 0 !important;
  }
  #form_section #contact_container #social_network #icons div {
    height: 40px !important;
    width: 50px !important;
  }
  #form_section #contact_container #contact #cities .city_container {
    margin: 0;
  }
  #form_section #contact_container #contact #cities .city_container .whatsapp {
    height: .9em;
    width: .9em;
  }
  #form_section #contact_container #contact #cities .city_container .city {
    font-size: .9em;
  }
  #form_section #contact_container #contact #cities .city_container .phone {
    font-size: .9em;
  }
  #form_section #doctors_container {
    padding: 0 !important;
    margin: 0 !important;
    width: 220px !important;
  }
  #form_section #doctors_container img {
    height: 280px !important;
  }
}
