/*#1E3E72
#D88DBC
#F37336
#F7CC3B
#5ABA4A
#63C8F2

*/
body #form_section {
  background-color: #F1EDE4;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px 30px;
  min-height: calc(100vh - 200px);
}
body #form_section #form_container {
  background: #DBDAC8;
  border: 2px solid #49840C;
  border-radius: 40px;
  color: white;
  padding: 40px 60px 40px;
  min-height: 350px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
body #form_section #form_container h3 {
  color: #8D5050;
  text-align: center;
}
body #form_section #form_container h3 span {
  font-size: 1.4em;
}
body #form_section #form_container form {
  display: flex;
  flex-direction: column;
}
body #form_section #form_container form .input {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #49840C;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}
body #form_section #form_container form ::placeholder {
  color: #2B4D11;
}
body #form_section #form_container form #button {
  background-color: #49840C;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
}
body #form_section #social_media div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
body #form_section #social_media div img {
  width: 30px;
  margin-right: 10px;
}
