body #form_section {
  background-color: #F1EDE4;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  min-height: calc(100vh - 200px);
}
body #form_section #form_container {
  background: #DBDAC8;
  border: 2px solid #49840C;
  border-radius: 40px;
  padding: 40px 60px 40px;
  min-height: 350px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
body #form_section #form_container h3 {
  color: #8D5050;
  text-align: center;
}
body #form_section #form_container h3 span {
  font-size: 1.4em;
}
body #form_section #form_container form {
  display: flex;
  flex-direction: column;
}
body #form_section #form_container form .input {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #49840C;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}
body #form_section #form_container form ::placeholder {
  color: #2B4D11;
}
body #form_section #form_container form #button {
  background-color: #49840C;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
}
body #form_section #contact_container {
  margin: 30px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body #form_section #contact_container #social_network h2 {
  text-align: center;
  color: #002897;
}
body #form_section #contact_container #contact h2 {
  text-align: center;
  color: #002897;
}
body #form_section #doctors_container img {
  filter: drop-shadow(0px 0px 100px #002897);
  height: 450px;
}
